.departament-pie svg{
	margin-top: -40px;
}

.departament-pie svg>g{
	transform: translate(100, 100);
}

.col-xs-41 {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 30%;
}

.huge {
	font-size: 52px;
}
		